# Python dependencies
faiss-cpu
gradio
numpy
opencv-python
pdf2image
pickle-mixin
pillow
pytesseract
requests
scikit-learn
sentence-transformers
tqdm
pydantic-settings

# System dependencies (Install via Conda):
# conda install -c conda-forge tesseract poppler
